
      <div style="margin: 20px">
          <h1 style="text-align: center">Github Information Table</h1>
      </div>
  
      <div class="container" style="padding: 20px">
          <div class="row">
              <div class="col" >
                  <input type="text" class="form-control" id="usernameInput" placeholder="Username">
              </div>
              <div class="col" >
                  <!-- <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">User</a>
                          <a class="dropdown-item" href="#">Organization</a>
                      </div>
                  </div> -->
                  <button (click)="getUsername()" type="button" class="btn btn-secondary">Get</button>
              </div>
          </div>
      </div>
  
      <div class="container">
          <h4>Your Repositories</h4>
          <table class="table">
              <thead>
              <tr>
                  <th>Repo Name</th>
                  <th>Language</th>
                  <th>Stars</th>
                  <th>Updated On</th>
              </tr>
              </thead>
              <tbody *ngFor="let repo of repos">
              <tr>
                  <td><a href="#">{{repo.name}}</a></td>
                  <td>{{repo.language}}</td>
                  <td>{{repo.stargazers_count}}</td>
                  <td>{{repo.updated_at.substring(0,10)}}</td>
              </tr>
              </tbody>
          </table>
      </div>
<router-outlet></router-outlet>
